<h1>Edit Picture</h1>

<div class="picture-preview">
  <%= image_tag @image_url, alt: @picture.alt_text.presence || @picture.original_filename %>
</div>

<%= form_with model: @picture do |f| %>
  <div class="form-group">
    <%= f.label :alt_text %>
    <%= f.text_area :alt_text, rows: 3 %>
  </div>

  <div class="form-group">
    <%= f.label :hashtags %>
    <%= f.text_field :hashtags, placeholder: "#photography #landscape" %>
  </div>

  <div class="form-group">
    <%= f.label :sensitive_content, "Sensitive content warning" %>
    <%= f.text_field :sensitive_content, placeholder: "Leave blank if not sensitive" %>
  </div>

  <div class="form-group">
    <%= f.label :order, "Position in queue" %>
    <%= f.number_field :order, min: 1, max: Picture.count %>
  </div>

  <%= f.submit "Save", class: "btn" %>
<% end %>

<%= link_to "Back", pictures_path, class: "btn" %>
